

<div id="lineChart" class="epoch category10" style="height: 200px;"></div>

<script type="text/javascript">

  App.data = App.cable.subscriptions.create("DataChannel", {
    connected: function() {},
    disconnected: function() {},
    received: plotPoint
  });

  var lineChartData = [
  // First series
    {
      label: "Series 1",
      values: []
    }
  ]

  var lineChartInstance = $('#lineChart').epoch({
    type: 'time.line',
    axes: ['left', 'right', 'bottom'],
    data: lineChartData
  });

  function plotPoint(data) {
    console.log(data['t'])
    //data = JSON.parse(data['data'])
    lineChartInstance.push([{time: data['t'] / 1000, y: Math.sin(data['t'] / 1000), label: "Series 1"}]);
  }

</script>