<p id="notice"><%= notice %></p>

<p>
  <strong>Timestamp:</strong>
  <%= @data_packet.Timestamp %>
</p>

<p>
  <strong>Altitude:</strong>
  <%= @data_packet.Altitude %>
</p>

<%= link_to 'Back', data_packets_path %>
