<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "Rockets Visualization", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Data Visualization", data_packets_path %></li>
        <li><%= link_to "Rocket Control", rocket_commands_path %></li>
      </ul>
    </nav>
  </div>
</header>